{
  "root": true,

  "env": {
    "es2021": true,
    "browser": true,
    "node": true
  },

  "extends": [
    "plugin:vue/base",
    "plugin:vue/recommended",
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ],

  "plugins": ["vue", "vuetify"],

  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 12,
    "sourceType": "module"
  },

  "rules": {
    "prettier/prettier": "warn",

    "arrow-parens": ["warn", "as-needed"],
    "curly": ["warn", "multi"],
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": "off",
    "require-await": "off",

    "no-return-await": "off",
    "new-cap": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",

    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "node/no-callback-literal": "off",

    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-module": "off",
    "unicorn/no-null": "off",
    "unicorn/filename-case": [
      "warn",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "checkFilenames": false
      }
    ],

    "one-var": ["warn", "never"],
    "yoda": "warn",
    "array-callback-return": "error",
    "default-case-last": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "max-classes-per-file": "error",

    "no-useless-backreference": "error",
    "no-unsafe-optional-chaining": "error",
    "no-unreachable-loop": "error",
    "no-template-curly-in-string": "error",
    "no-promise-executor-return": "error",
    "no-prototype-builtins": "error",
    "no-case-declarations": "error",
    "no-div-regex": "error",
    "no-regex-spaces": "error",
    "no-control-regex": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-else-return": "warn",
    "object-shorthand": "warn",
    "operator-assignment": "warn",

    "no-fallthrough": "off",

    "prefer-destructuring": [
      "warn",
      {
        "object": true,
        "array": true
      }
    ],

    "global-require": "off",
    "no-restricted-syntax": "off",
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "pattern": {
          "json": "always",
          "vue": "always"
        }
      }
    ],
    "import/newline-after-import": "off",
    "no-underscore-dangle": "off",

    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off"
  }
}
